
.banner{
    height: 600px;
    width: 100%;
}

.banner img {
    height: 600px;
    width: 100%;
}

.new-arival{
    padding: 20px;
    background: #f3f4f6; /* Màu xám nhẹ */
}

.new-arival button{
    width: 250px;
    border-radius: 0;
}

.new-arival-card{
    width: 200px;
}

.blog{
    height: 600px;
}
